@media (min-width: 768px) {
  .box-apiKey {
    width: 60%;
  }
}

@media (max-width: 575px) {
  .box-apiKey {
    width: 100%;
  }
}

.alert-box {
  height: 50px;
}

.input-apiKey {
  font-family: monospace;
}

.btn.btn-xs {
  padding: .25rem .4rem;
  font-size: .875rem;
  line-height: .5;
  border-radius: .2rem;
}
