.spinner-left {
  position: absolute;
  margin-left: -1.5rem;
  margin-top: .1rem;
}

.coin-amt img {
  margin-left: 1px;
  margin-bottom: 3px;
}

.coin {
  font-weight: bold;
}

.coin-g {
  color: #eead28;
}

.coin-s {
  color: #959595;
}

.coin-c {
  color: #a36f3d;
}

.item {
  display: inline-block;
  position: relative;
  margin-right: 1px;
  margin-bottom: 1px;
}

.item::after {
  content: ' ';
  display: block;
  position: absolute;
  right: 5px;
  bottom: 5px;
  width: 10px;
  height: 10px;
  border-width: 5px;
  border-style: solid;
  border-radius: 50%;
}

.item .item-count {
  font-size: small;
  font-weight: bold;
  color: #ffffff;
  text-shadow: #000000 0px 0px 5px, #000000 0px 0px 5px, #000000 0px 0px 5px, #000000 0px 0px 5px, #000000 0px 0px 5px, #000000 0px 0px 5px;
  position: absolute;
  right: 6px;
  top: 3px;
}

.item.rarity-junk::after { border-color: #808080; }
.item.rarity-basic::after { border-color: #dedede; }
.item.rarity-fine::after { border-color: #62a4da; }
.item.rarity-masterwork::after { border-color: #43e027; }
.item.rarity-rare::after { border-color: #f8fc0b; }
.item.rarity-exotic::after { border-color: #ffa405; }
.item.rarity-ascended::after { border-color: #fb3e8d; }
.item.rarity-legendary::after { border-color: #944afc; }
